@model SadhanaApp.WebUI.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="alert alert-info text-center">
        <strong>Forgot Your Password?</strong><br>
        Please verify your details below.
    </div>

@if (@ViewBag.Error != null)
{
    <div class="alert alert-danger" id="errorAlert">
        @ViewBag.Error
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#errorAlert').fadeOut('slow');
            }, 5000); // 5000 milliseconds = 5 seconds
        });
    </script>
}