html {
    font-size: 16px;
    font-family: Arial, sans-serif; /* Change the font family here */
}

body {
    margin-bottom: 60px;
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #333; /* Dark color for the text */
}

@media (max-width: 767px) {
    body {
        background-size: cover;
        background-position: top center;
    }
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
    pointer-events: none;
    z-index: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Increased opacity for better visibility */
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 15px; /* Larger border radius for softer corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for a subtle lift effect */
}

.navbar, .footer {
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.9); /* Matching the container styling */
}

.center-right-image {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

/* Adding some styling to navbar links for a more engaging look */
.nav-item a {
    color: #495057;
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #000;
    text-decoration: none;
}

/* Updating the footer text color to match the body text */
.footer {
    color: #333;
}