<div style="text-align: center;">
    <img src="~/images/notfound.jpg" width="100%" alt="Error Page Image" />
    <p>
        Please <a href="@Url.Action("Index", "Home")">click here</a> to return to the homepage.
    </p>

    <p>
        If the problem persists, please contact the website administrator.
    </p>
</div>
