@model ChantingRecord

@{
    ViewData["Title"] = "Sadhana History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Record Your entries</h2>

<form asp-action="RecordSadhana" method="post">
    <div class="form-group">
        <label>Date:</label>
        <input asp-for="Date" type="date" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Chanted Rounds in the Morning (till 8am):</label>
        <input asp-for="MorningRounds" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label>Chanted Rounds during the Day (8am to 6pm):</label>
        <input asp-for="DayRounds" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label>Chanted Rounds in the Evening (after 6pm):</label>
        <input asp-for="EveningRounds" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label>Reading Title:</label>
        <input asp-for="ReadingTitle" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Reading Duration (in minutes)</label>
        <input asp-for="ReadingDurationInMinutes" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Hearing Title:</label>
        <input asp-for="HearingTitle" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label>Hearing Duration (in minutes)</label>
        <input asp-for="HearingDurationInMinutes" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Service Type:</label>
        <select asp-for="ServiceType" class="form-control" id="serviceDropdown" onchange="toggleCustomServiceTypeInput();">
            <option value="cleaning temple">Cleaning Temple</option>
            <option value="garlands">Garlands</option>
            <option value="cooking">Cooking</option>
            <option value="ServingPrasadam">Serving Prasadam</option>
            <option value="BookDistribution">Book Distribution</option>
            <option value="GivingLecture">Giving Lecture</option>
            <option value="DeityWorship">Deity Worship</option>
            <option value="VoiceProgramLecture">Voice Program Lecture</option>
            <option value="VoiceProgramService">Voice Program Service</option>
            <option value="other">Other (Please Specify)</option>
        </select>
        <input id="customServiceTypeInput" name="customServiceTypeInput" type="text" style="display:none;" class="form-control" />
    </div>

    <div class="form-group">
        <label>Service Duration (in minutes)</label>
        <input asp-for="ServiceDurationInMinutes" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label>Notes (This space can be used to explain any sudden
            jump/fall in sadhana. E.g. Ekadashi, Sickness, etc.)</label>
        <input asp-for="Notes" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Back <a asp-controller="Home" asp-action="Index">to home page</a>!</p>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function toggleCustomServiceTypeInput() {
        var dropdown = document.getElementById('serviceDropdown');
        var customServiceInput = document.getElementById('customServiceTypeInput');

        if (dropdown.value === 'other') {
            customServiceInput.style.display = 'block';
        } else {
            customServiceInput.style.display = 'none';
        }
    }
</script>

