@{
    ViewData["Title"] = "Home Page";
}

<div class="container login-container">
    <h1 class="specific-text">Hare Krishna</h1>
    <p class="specific-text">This application helps you track your sadhana progress.</a>.</p>
    @if (!Context.User.Identity.IsAuthenticated)
    {
        <p class="specific-text">Don't have an account? <a asp-controller="Account" asp-action="Register">Register now</a>!
        </p>
        <p>Click here <a asp-controller="Account" asp-action="Login">Login</a>!</p>
    }
    else
    {
        <p>Click here <a asp-controller="Chanting" asp-action="ChantingHistory">SadhanaTracker</a>!</p>
    }
</div>
