@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hare Krishna</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Sadhana Application to help you with the progress.</a>.</p>
</div>
